#map {
    height: 400px;
    max-width: 100%;
}

.restaurantName{

font-size: 20px;

}

.restaurantImage{
height: 200px;
width: 200px;

}

.restaurantAddress{

font-size: 15px;

}

.restaurantPhone{
  
}


.hidden {
    display: none;
}

